.dashboardNav {
    flex: 1;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: #B3000C;
}


.dashboardNav button {
    margin: 0 5px 0 5px;
    width: 25vw;
}

.activeTab {
    border-bottom: 2px solid #FFFFFF;
}

.listViewer {
    margin-top: 10px;
    --containerWidth: 75vh;
    width: var(--containerWidth);
    margin: auto;
}

.wishListDiv {
    text-align: center;
    overflow: scroll;
    height: 50vh;
    margin: 10px 0 10px 0;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.faIcon {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
}

.hiddenList {
    height: 3vh;
    overflow: hidden;
}

.listItem {
    margin: 10px;
}

.listHeader {
    display: flex;
    height: 5vh;
    border-bottom: 1px solid #014a13;
}

.listHeader span {
    font-size: 1.6rem;
    color: #FFFFFF;
    margin: auto;
    flex: 1;  
}

.listBody {
    background-color: #014a13;
    border-radius: 3px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin: 2px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.2)
}

.done {
    text-decoration: line-through;
    color: #E40010;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}


/* Bottombar */
.bottomBar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}


.addItemIcon:hover {
    color: white;
}


#itemInput {
    height: 1.7rem;
    border-radius: 4px;
    border: none;
    box-shadow: 2px 2px rgba(0,0,0, 0.5);
    font-family: inherit;
    text-align: center;
}


.addItemIcon {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

.down {
    -webkit-animation: spinGift 0.2s ;
    -moz-animation: spinGift 0.2s;
    animation: spinGift 0.2s;
    animation-fill-mode: forwards;
}


@media only screen and (max-width: 600px) {
    .listViewer {
        width: auto;
        padding: 20px 20px 10px 20px;
    }
}

.clickedArrow {
    -webkit-animation: spinArrow 0.2s ;
    -moz-animation: spinArrow 0.2s;
    animation: spinArrow 0.2s;
    animation-fill-mode: forwards;
}


@-moz-keyframes spinArrow { 100% {-moz-transform: rotate(180deg);}}
@-webkit-keyframes spinArrow { 100% {-webkit-transform: rotate(180deg);}}
@keyframes spinArrow { 100% {transform: rotate(180deg);}}


@-ms-keyframes spinGift {
    50% {color: red}
    100% {
        color: #014a13;
        transform: rotate(360deg);}}
@-moz-keyframes spinGift {
    50% {color: red}
    100% {
        color: #014a13;
        transform: rotate(360deg);}}
@-webkit-keyframes spinGift {
    50% {color: red}
    100% {
        color: #014a13;
        transform: rotate(360deg);}}
@keyframes spinGift {
    50% {color: red}
    100% {
        color: #014a13;
        transform: rotate(360deg);}}