/* 
Color theme:
#B3000C
#E40010
#D8D8D8
#1FD537
#00B32C
#018a23
#014a13
*/

html {
    font-family: 'B612', sans-serif;
    /* background-color: #4287f5; */
    background-color: #B3000C;
}

body {
    margin: 0;
    padding: 0;
}


.containerDiv {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    margin-top: 30vh;
}

.loginDiv {
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 50vw;
    overflow: hidden;
    background-color: #ecf0f1;
    box-shadow: 0px 0px 1px 5px rgba(0,0,0, 0.1);
}

.loginDiv input {
    margin-bottom: 20px;
    height: 25px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    color: #014a13;
}

.loginHeader {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

.loginDiv label {
    text-align: left;
    color: #B3000C;
}

button {
    height: 35px;
    background-color: #B3000C;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    font-family: 'B612', sans-serif;
    margin: 7px 0;
}

.loginDiv button {
    display: block;
    background-color: #B3000C;
    width: 100%;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .loginDiv {
        width: 70vw;
        width: 70vw;
    }
}